       *{
          padding: 0px;
          margin: 0px;
        }

        body{
          width: 38vw;
          margin:auto;
        }
        body , form{
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           color: #056cad;
        }
     input[type="text"] , input[type="number"] {
       border: 1px solid #1D9BF0;
       height: 48px;
       font-size: 15px;
       border-radius: 5px;
       padding-left: 10px;
       outline: none;
     }

     input[type="submit"] , .back-btn{
       width: 120px;
       height: 40px;
       outline: none;
       border: 2px solid #999;
       margin-top: 20px;
       color: white;
       background: #1D9BF0;
       font-size: 16px;
       border-radius: 5px;
     }
    a , a:visited {
     text-decoration: none;

    }
     .back-btn {
          border: 1px solid #1D9BF0;
          margin-top: -41px;
          margin-left: 31vw;
          background: #f75925;
          display: flex;
          align-items: center;
          justify-content: center;
     }
     .title-class {
       margin-top: 60px;
       margin: 10px auto;
       font-weight: bold;
       font-size: 18px;
     }
    .upload-btn {
        position: absolute;
        top: 317px;
        left:190px;
        background: #e5e3e3;
        color:#1D9BF0;
        font-size: 20px;
    }

    .photo-popup{
          width: 100vw;
          height: 100vh;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          font-weight: bold;
          background: rgba( 0 , 0,0,0.6);
          visibility: visible;

        }

        .photo-popup-content{
          width: 500px;
          height: 400px;
          background: white;
          display: flex;
          justify-content: center;
          align-items: center;
        }